span {
  color: $title-text-color;
}

.page-header__logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $logo-color;
}

.page-footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $h-text-color;
  display: block;
  margin-bottom: 20px;
}
