/* section hero */
.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: $h-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: $title-text-color;
  color: $h-text-color;
}
