/* section foot */
.page-footer {
  background-color: $hero-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    // display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: left;
  }
}

.address__container {
  font-style: normal;
  color: $h-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 60px;
}

.address__text {
  // margin: 0;
  margin-bottom: 9px;
}

.address__link {
  margin-bottom: 9px;
  text-decoration: none;
  color: $f-text-color;
}

.address__list {
  // padding: 0;
}

/* --------------иконки СОЦ СЕТЕЙ footer --------*/
.page-footer-social__title,
.page-footer-subscribe__title {
  font-style: normal;
  color: $h-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.page-footer-social__item {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $bcolor-icon;
}

.page-footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.page-footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $title-text-color;
  }
}

.page-footer-social__icon {
  fill: white;
}

/* --------------Подписаться-------------- */

.page-footer-subscribe {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.page-footer-subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $hero-color;
  border-radius: 4px;
  min-width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.page-footer-subscribe__button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  background-color: $title-text-color;
  color: $h-text-color;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }
}

.page-footer-subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
