/* section about */

.about__title {
  @include visually-hidden;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-card__box {
  width: 270px;
  height: 120px;
  background-color: $button-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-card__caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  color: $primary-text-color;
}

.about-card__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: $dop-text-color;
}

.about-card__list {
  padding: 0;
  display: flex;
}

.about-card__item:last-child {
  margin-right: 0px;
}

.about-card__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
